.tfi-header {
  background-color: #59514F;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 40px;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    color: #FFF;
  }

  .nuxt-link-exact-active {
    font-weight: bold;
    text-decoration: none;
  }
}